#info {
	position: absolute;
	top: 10px;
	text-align: center;
	z-index: 10;
	display:block;
    background-color: blueviolet;
	margin-top: 10px;
}

label.label1{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}